/* Общие стили */
body,
html {
    scroll-behavior: smooth;
}

.hero-section {
    background-size: cover;
    background-position: center;
}

.testimonial-slider {
    overflow: hidden;
    position: relative;
}

.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
}

.slider-btn {
    cursor: pointer;
}